{% extends "base.html" %}

{% block content %}
<h2>Problem Archive</h2>
{% if problems_list %}

<table class="table">
  <tr>
    <td>Problem</td>
    <td>Description</td>
    <td>Difficulty</td>
    <td>Tags</td>
  </tr>
  {% for problem in problems_list %}
  <tr>
    <td><a href="/problem/{{ problem.id }}/">{{ problem.name }}</a></td>
    <td><p>{{ problem.problem_statement }}</p></td>
    <td> -- </td>
    <td> -- </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No problems are available.</p>
{% endif %}
{% endblock %}
