{% extends "base.html" %}
{% block resources %}
<script type="text/javascript" src="{{ STATIC_URL }}js/dracula/raphael-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dracula/dracula_graffle.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dracula/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dracula/dracula_graph.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/training.js"></script>
{% endblock %}
{% block content %}
<div id="canvas"></div>

<script type="text/javascript">
  training_data = {{ training_data|safe }}
  showTrainingGraph('canvas', training_data);
</script>

{% endblock %}
