<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
<head>
    <title>{% block title %}codez{% endblock %}</title>
</head>

<body>
	<div id="navbar">
		Codez Home 
		<a href="/accounts/login">Login</a> 
		<a href="/accounts/register">Register</a>
		<hr/>
	</div>
	<div id="sidebar">
		{% block sidebar %}
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/polls/">Polls</a></li>
		</ul>
		{% endblock %}
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
		Footer
	</div>
</body>
</html>
